a.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF; /* Bootstrap blue */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

    a.button:hover {
        background-color: #0056b3;
    }

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

    ul li {
        position: relative;
        display: inline-block;
    }
button {
    height: 50px;
    font-size: 30pt;
}

h {
    text-align:center;
    font-size: 60px;
    font-weight: bold;
}
h3
{
    font-size: 50px;
    font-weight:bold;
}
p 
{
    font-size: 30px;
}

img 
{
    width: 1000px;
}
img.litle 
{
    width: 200px;
}
img.medium {
        width: 500px;
    }

* {
    
    margin: 0px;
    
}

button {
    display: flex;
    padding: 11px 33px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    background: #6225e6;
    transition: 1s;
    box-shadow: 6px 6px 0 black;
    transform: skewX(-15deg);
    border: none;
    cursor: pointer;
}

.cta:focus {
    outline: none;
}

.cta:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 0 #fbc638;
}

.cta .second {
    transition: 0.5s;
    margin-right: 0px;
}

.cta:hover .second {
    transition: 0.5s;
    margin-right: 45px;
}

.span {
    transform: skewX(15deg);
}

.second {
    width: 20px;
    margin-left: 30px;
    position: relative;
    top: 12%;
}

.one {
    transition: 0.4s;
    transform: translateX(-60%);
}

.two {
    transition: 0.5s;
    transform: translateX(-30%);
}

.cta:hover .three {
    animation: color_anim 1s infinite 0.2s;
}

.cta:hover .one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}

.cta:hover .two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}

@keyframes color_anim {
    0% {
        fill: white;
    }

    50% {
        fill: #fbc638;
    }

    100% {
        fill: white;
    }
}
